@model PalletLoading.ViewModels.PalletDetailsViewModel

@{
    ViewData["Title"] = "Details";
}


<link rel="stylesheet" href="~/css/background.css" />

<h1>Details</h1>

<div>
    <h4>Pallet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pallet.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pallet.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PalletType.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PalletType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Pallet.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
