@model PalletLoading.Models.PartCenterPallets

@{
    ViewData["Title"] = "Details";
}


<link rel="stylesheet" href="~/css/background.css" />

<h1>Details</h1>

<div>
    <h4>PartCenterPallets</h4>
    <hr />
    <dl class="row">
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Container_no)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Container_no)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            Pallet number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pallet_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            Mass (kg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoadDate)
        </dd>
        <dt class = "col-sm-2">
            Loaded
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InputTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InputTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImportData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImportData.id)
        </dd>
        <dt class = "col-sm-2">
            Input timestamp
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImportDataHistory.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
