@model PalletLoading.Models.PartCenterPallets

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PartCenterPallets</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="editForm">
            <input type="hidden" asp-for="InputTimestamp" value="@Model.InputTimestamp" />
            <input type="hidden" asp-for="Status" value="@Model.InputTimestamp" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @*            <div class="form-group">
                <label asp-for="Container_no" class="control-label"></label>
                <input asp-for="Container_no" class="form-control" style="pointer-events: none;background-color:#E9ECEF" />
                <span asp-validation-for="Container_no" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" style="pointer-events: none;background-color:#E9ECEF" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pallet_number" class="control-label"></label>
                <input asp-for="Pallet_number" class="form-control" style="pointer-events: none;background-color:#E9ECEF" value="@Model.Pallet_number.ToString("G29")" />
                <span asp-validation-for="Pallet_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label">Lungimea (metrii)</label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label">Latimea (metrii)</label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label">Inaltimea (metrii)</label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mass" class="control-label">Mass (kg)</label>
                <input asp-for="Mass" class="form-control" />
                <span asp-validation-for="Mass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoadDate" class="control-label"></label>
                <input asp-for="LoadDate" type="text" class="form-control" name="loadDate" id ="datetimepickerStartDate" />
                <span asp-validation-for="LoadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" id="editBtn" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="~/lib/sweetalert/sweetalert.min.js"></script>
<link rel="stylesheet" href="~/jquery-ui-1.12.1/jquery-ui.css" />
<script src="~/jquery-ui-1.12.1/jquery-ui.js"></script>
<script>
     $( document ).ready(function() {
      $('#Destination').focus();
            @{
                var startdate = @Model.LoadDate;

            }

        $('#datetimepickerStartDate').datepicker({ dateFormat: 'dd-mm-yy' });
        var d_day = @startdate.Day  <10 ? "0" +@startdate.Day : @startdate.Day;
        var d_month =  @startdate.Month  <10 ? "0" +@startdate.Month : @startdate.Month;
        var d_year = @startdate.Year  <10 ? "0" +@startdate.Year : @startdate.Year;
        var todayDate = d_day + "-" + d_month + "-" + d_year;
        console.log(todayDate)
        $("#datetimepickerStartDate").ready(function () {
            $("#datetimepickerStartDate").val(todayDate)
        });
     });
    $('#editBtn').click(function (e) {
        //if ($("#Container_no").val() == null || $("#Container_no").val() == "") {
        //    swal("Eroare", "Completati numarul containerului!", "error")
        //    $("#Container_no").focus();
        //    return false;
        //}
        if ($("#Destination").val() == null || $("#Destination").val() == "") {
            swal("Eroare", "Completati destinatia!", "error")
            $("#Destination").focus();
            return false;
        }
        if ($("#Pallet_number").val() == null || $("#Pallet_number").val() == "") {
            swal("Eroare", "Completati numarul paletului!", "error")
            $("#Pallet_number").focus();
            return false;
        }
        if ($("#Length").val() == null || $("#Length").val() == "") {
            swal("Eroare", "Completati lungimea paletului!", "error")
            $("#Length").focus();
            return false;
        }
        if ($("#Width").val() == null || $("#Width").val() == "") {
            swal("Eroare", "Completati latimea paletului!", "error")
            $("#Width").focus();
            return false;
        }
        if ($("#Height").val() == null || $("#Height").val() == "") {
            swal("Eroare", "Completati inaltimea paletului!", "error")
            $("#Height").focus();
            return false;
        }
        if ($("#Mass").val() == null || $("#Mass").val() == "") {
            swal("Eroare", "Completati greutatea paletului!", "error")
            $("#Mass").focus();
            return false;
        }

        //var tempContainer = $("#Container_no").val();
        //var tempDestionation = $("#Destination").val();
        //var tempPalletNo = $("#Pallet_number").val();
        //$("#editForm").submit();

        //return false;
    });
</script>
}
