@model PalletLoading.ViewModels.ContainerIndexViewModel
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Container list";
}
<h1 style="text-align:center">Container list</h1>


<div style="display:flex; justify-content:space-between">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    @using (Html.BeginForm("Index", "Containers2", FormMethod.Get))
    {
        <p>
            @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Country
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var container in Model.Container)
        {
            @foreach (var type in Model.ContainerType)
            {
                foreach (var country in Model.Countries)
                {
                    if (container.TypeId == type.Id && container.CountryId == country.Id)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => container.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => type.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => country.Name)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@container.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@container.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>
