@model IEnumerable<PalletLoading.Models.User>

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="~/css/background.css" />

<h1>User Management</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Username")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Mail")
            </th>
            <th>
                @Html.DisplayName("Right")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usermail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRight.Right)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

